{% extends 'base.html' %}
{% load static %}

{% block header %}

{% endblock header %}

{% block css %}
    
{% endblock css %}
    


{% block body %}

<main>

    <!-- hero area start  -->
    <div class="container large">
      <section class="hero-area">
        <div class="container">
          <div class="hero-area-inner">
            <div class="shape-1">
              <img class="show-light" src="{% static 'imgs/shape/img-s-74.webp' %}" alt="image">
              <img class="show-dark" src="{% static 'imgs/shape/img-s-74-light.webp' %}" alt="image">
            </div>
            <div class="section-header">
              <div class="customer-wrapper-box">
                <div class="customer-wrapper">
                  <div class="thumb img_anim_reveal">
                    <img class="show-light" src="{% static 'imgs/client/img-s-3.webp' %}" alt="image">
                    <img class="show-dark" src="{% static 'imgs/client/img-s-3-light.webp' %}" alt="image">
                  </div>
                  <p class="text has_fade_anim" data-fade-from="left"><span class="text-underline">We have
                      18k+</span> customers <br>
                    word-wide</p>
                </div>
              </div>
              <div class="section-title-wrapper">
                <div class="title-wrapper">
                  <h1 class="section-title has_fade_anim" data-fade-from="left" data-duration="0.75" data-delay="0.30">Unlock the ultimate
                    power of AI, in your
                    real life</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="info-box">
            <div class="thumb has_fade_anim" data-fade-from="left" data-duration="0.75" data-delay="0.60">
              <img class="show-light" src="{% static 'imgs/gallery/img-s-81.webp' %}" alt="image">
              <img class="show-dark" src="{% static 'imgs/gallery/img-s-81-light.webp' %}" alt="image">
            </div>
            <div class="text-wrapper has_fade_anim" data-fade-from="left" data-duration="0.75" data-delay="0.60">
              <p class="text">Startup agency, providing ai
                service in world-wide since
                2010</p>
            </div>
            <div class="btn-wrapper has_fade_anim" data-fade-from="left" data-duration="0.75" data-delay="0.60" data-on-scroll="0">
              <a href="contact.html" class="wc-btn wc-btn-primary btn-text-flip ai-fill-btn"> <span data-text="get started">get
                  started</span><i class="fa-solid fa-play"></i></a>
            </div>
          </div>
          <div class="feature-content">
            <div class="bg cf_image overflow-hidden">
              <img src="{% static 'imgs/gallery/img-s-82.webp' %}" data-speed="0.9" alt="image">
            </div>
            <div class="feature-list-wrapper">
              <div class="feature-list">
                <div class="feature-list-item">
                  <span class="icon">
                    <img src="{% static 'imgs/icon/check-3.webp' %}" alt="icon image">
                  </span>
                  <p class="text">diverse talents and a
                    shared passion</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- hero area end  -->

    <!-- about area start  -->
    <section class="about-area">
      <div class="container">
        <div class="about-area-inner section-spacing">
          <div class="section-content">
            <div class="section-title-wrapper">
              <div class="title-wrapper">
                <h2 class="section-title has_text_move_anim">Empowering business
                  transformation in a way
                  of unique fundamental
                  solutions</h2>
              </div>
            </div>
            <div class="content-last">
              <div class="text-wrapper">
                <p class="text has_text_move_anim" data-delay="0.30">Artificial Intelligence refers to the
                  development of computer systems that can
                  perform tasks that would typically require human intelligence. It involves the creation of
                  algorithms and models that enable machines to learn, reason, perceive, and make decisions.</p>
                <p class="text has_text_move_anim" data-delay="0.30">There are generally two types of AI: Narrow
                  or Weak AI, which is designed to
                  perform
                  specific
                  tasks, and General or Strong AI, which possesses human-level intelligence and can handle a wide
                  range of tasks.</p>
              </div>
              <div class="btn-wrapper has_fade_anim" data-fade-from="top" data-fade-offset="70" data-ease="bounce">
                <a href="about.html" class="wc-btn wc-btn-primary btn-text-flip bordered"> <span data-text="Learn more">Learn
                    more</span><i class="fa-solid fa-play"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- about area end  -->

    <!-- info area start  -->
    <section class="info-area">
      <div class="container">
        <div class="info-area-inner section-spacing">
          <div class="area-shape-1 has_fade_anim" data-fade-from="left" data-duration="2" data-delay="0.3" data-fade-offset="80" data-ease="bounce">
            <img src="{% static 'imgs/shape/img-s-75.webp' %}" alt="image">
          </div>
          <div class="info-points">
            <div class="shape-1">
              <img class="show-light" src="{% static 'imgs/shape/img-s-77.webp' %}" alt="image">
              <img class="show-dark" src="{% static 'imgs/shape/img-s-77-dark.webp' %}" alt="image">
            </div>
            <div class="bg">
              <img src="{% static 'imgs/shape/img-s-76.webp' %}" alt="image">
            </div>
            <div class="info-list">
              <ul>
                <li>+ Artificial</li>
                <li>+ Local Authority</li>
                <li>+ Business Survey</li>
                <li>+ Identity</li>
                <li>+ Data Connection</li>
                <li>+ Public Server</li>
              </ul>
            </div>
          </div>
          <div class="infos-wrapper-box">
            <div class="infos-wrapper">
              <div class="info-box">
                <div class="content">
                  <h2 class="title has_fade_anim" data-fade-from="left">Networking</h2>
                  <p class="text has_text_move_anim">Network models into existing systems or software applications
                    whether you breath
                    rebranding.</p>
                </div>
              </div>
              <div class="info-box">
                <div class="content">
                  <h2 class="title has_fade_anim">Algorithm </h2>
                  <p class="text has_text_move_anim">Algorithm of architectures tailored to specific business
                    needs and definition
                    objectives.</p>
                </div>
              </div>
              <div class="info-box">
                <div class="content">
                  <h2 class="title has_fade_anim">Integration</h2>
                  <p class="text has_text_move_anim">General Strong AI, which possesses human-level intelligence
                    by all the design
                    agency.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- info area end  -->

    <!-- feature area start  -->
    <div class="container large">
      <section class="feature-area">
        <div class="container">
          <div class="feature-area-inner section-spacing">
            <div class="section-header">
              <div class="section-title-wrapper">
                <div class="title-wrapper">
                  <h2 class="section-title has_text_move_anim">Using local server is a fundamental
                    component of Artificial Intelligence
                    (AI) systems</h2>
                </div>
              </div>
            </div>
            <div class="section-content">
              <div class="feature-thumb">
                <div class="thumb">
                  <img src="{% static 'imgs/gallery/img-s-83.webp' %}" alt="image">
                </div>
                <div class="info pos-center">
                  <img src="{% static 'imgs/shape/img-s-78.webp' %}" alt="image">
                  <p class="text">Ai powered by <br>
                    Arolax</p>
                </div>
                <div class="btn-wrapper">
                  <a href="contact.html" class="wc-btn wc-btn-underline btn-text-flip"> <span data-text="Try example now">Try example now</span></a>
                </div>
              </div>
              <div class="features-wrapper-box">
                <div class="features-wrapper">
                  <div class="feature-box has_fade_anim" data-fade-from="left" data-fade-offset="70">
                    <div class="thumb">
                      <img src="{% static 'imgs/shape/img-s-79.webp' %}" alt="feature icon">
                    </div>
                    <div class="content">
                      <h3 class="title">Powerful key features</h3>
                      <p class="text">It involves the creation of algorithms and models that enable machines to
                        learn, reason, perceive, and make decisions.</p>
                    </div>
                  </div>
                  <div class="feature-box has_fade_anim" data-fade-from="left" data-fade-offset="70">
                    <div class="thumb">
                      <img src="{% static 'imgs/shape/img-s-80.webp' %}" alt="feature icon">
                    </div>
                    <div class="content">
                      <h3 class="title">Conversion-focused idea </h3>
                      <p class="text">It involves the creation of algorithms and models that enable machines to
                        learn, reason, perceive, and make decisions.</p>
                    </div>
                  </div>
                  <div class="feature-box has_fade_anim" data-fade-from="left" data-fade-offset="70">
                    <div class="thumb">
                      <img src="{% static 'imgs/shape/img-s-81.webp' %}" alt="feature icon">
                    </div>
                    <div class="content">
                      <h3 class="title">Technical support</h3>
                      <p class="text">It involves the creation of algorithms and models that enable machines to
                        learn, reason, perceive, and make decisions.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- feature area end  -->

    <!-- service area start  -->
    <section class="service-area">
      <div class="container">
        <div class="service-area-inner section-spacing">
          <div class="section-header">
            <div class="section-title-wrapper">
              <div class="title-wrapper">
                <h2 class="section-title has_fade_anim" data-fade-from="bottom" data-fade-offset="70">Ai featured
                  services
                  by arolax</h2>
              </div>
            </div>
          </div>
          <div class="services-wrapper-box">
            <div class="services-wrapper">
              <div class="service-box">
                <span class="number">01</span>
                <div class="content">
                  <h3 class="title has_fade_anim" data-fade-from="left" data-fade-offset="50"><a href="service-details.html">Central algorithm</a></h3>
                </div>
              </div>
              <div class="service-box">
                <span class="number">02</span>
                <div class="content">
                  <h3 class="title has_fade_anim" data-fade-from="left" data-fade-offset="50"><a href="service-details.html">Networking</a></h3>
                </div>
              </div>
              <div class="service-box">
                <span class="number">03</span>
                <div class="content">
                  <h3 class="title has_fade_anim" data-fade-from="left" data-fade-offset="50"><a href="service-details.html">Server security</a></h3>
                </div>
              </div>
              <div class="service-box">
                <span class="number">04</span>
                <div class="content">
                  <h3 class="title has_fade_anim" data-fade-from="left" data-fade-offset="50"><a href="service-details.html">Firewall deep prompt</a></h3>
                </div>
              </div>
              <div class="service-box">
                <span class="number">05</span>
                <div class="content">
                  <h3 class="title has_fade_anim" data-fade-from="left" data-fade-offset="50"><a href="service-details.html">Data structure</a></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- service area end  -->

    <!-- video area start  -->
    <div class="container large">
      <div class="video-area">
        <div class="area-bg">
          <img src="{% static 'imgs/gallery/img-s-84.webp' %}" alt="image">
        </div>
        <div class="container">
          <div class="info-box">
            <div class="video-btn has_fade_anim" data-fade-from="top" data-fade-offset="100" data-ease="bounce">
              <a href="../../{% static 'wp-content/uploads/2024/06/arolux-branding-agency-video.mp4" class="wc-btn wc-btn-circle video-popup"><i class="fa-solid fa-play"></i></a>
            </div>
            <div class="section-title-wrapper">
              <div class="title-wrapper">
                <h2 class="section-title has_fade_anim" data-fade-from="bottom" data-fade-offset="70">We believe
                  that, we
                  can give ai solution
                  to the world.</h2>
              </div>
            </div>
            <ul class="info-list has_fade_anim" data-fade-from="bottom">
              <li>+ Existing solution audit</li>
              <li>+ Data science and assessment</li>
              <li>+ ROI analysis</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- video area end  -->

    <!-- client area start  -->
    <section class="client-area">
      <div class="container">
        <div class="client-area-inner section-spacing">
          <div class="section-header">
            <div class="section-title-wrapper">
              <div class="title-wrapper">
                <h2 class="section-title has_text_move_anim">5 millions of companies are using
                  Arolx to power up their (ai) system
                  world wide</h2>
              </div>
            </div>
          </div>
          <div class="clients-wrapper-box">
            <div class="clients-wrapper">
              <div class="client-box has_fade_anim" data-fade-from="bottom" data-delay="0.15">
                <div class="thumb">
                  <img class="show-light" src="{% static 'imgs/brand/img-s-13.webp' %}" alt="client icon">
                  <img class="show-dark" src="{% static 'imgs/brand/img-s-13-light.webp' %}" alt="client icon">
                </div>
                <div class="content">
                  <h3 class="title">Canon</h3>
                  <p class="text">It involves the creation of algorithms and models that enable machines to learn,
                    reason, perceive, and make decisions.</p>
                </div>
              </div>
              <div class="client-box has_fade_anim" data-fade-from="bottom" data-delay="0.30">
                <div class="thumb">
                  <img class="show-light" src="{% static 'imgs/brand/img-s-14.webp' %}" alt="client icon">
                  <img class="show-dark" src="{% static 'imgs/brand/img-s-14-light.webp' %}" alt="client icon">
                </div>
                <div class="content">
                  <h3 class="title">Aecom</h3>
                  <p class="text">Emphasize the knowledge of your team in developing and networks handles needs
                    from corporate robust features</p>
                </div>
              </div>
              <div class="client-box has_fade_anim" data-fade-from="bottom" data-delay="0.45">
                <div class="thumb">
                  <img class="show-light" src="{% static 'imgs/brand/img-s-16.webp' %}" alt="client icon">
                  <img class="show-dark" src="{% static 'imgs/brand/img-s-16-light.webp' %}" alt="client icon">
                </div>
                <div class="content">
                  <h3 class="title">Netflix</h3>
                  <p class="text">For company sites focused on lead generation and sales, provides all the tools
                    for high-converting funnels</p>
                </div>
              </div>
              <div class="client-box has_fade_anim" data-fade-from="bottom" data-delay="0.60">
                <div class="thumb">
                  <img class="show-light" src="{% static 'imgs/brand/img-s-18.webp' %}" alt="client icon">
                  <img class="show-dark" src="{% static 'imgs/brand/img-s-18-light.webp' %}" alt="client icon">
                </div>
                <div class="content">
                  <h3 class="title">Stripe</h3>
                  <p class="text">The sleek, modern design makes a statement while still being flexible enough to
                    fit the needs of diverse websites</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- client area end  -->

    <!-- faq area start  -->
    <div class="container large">

      <section class="faq-area">
        <div class="container">
          <div class="faq-area-inner section-spacing">
            <div class="section-header">
              <div class="section-title-wrapper">
                <div class="title-wrapper">
                  <h2 class="section-title has_text_move_anim">Easily add intelligence
                    to your applications to
                    your server</h2>
                </div>
              </div>
            </div>
            <div class="section-content">
              <div class="content-first">
                <div class="text-wrapper">
                  <p class="text has_fade_anim" data-fade-from="bottom">Automatically analyzes them, and provides
                    the closest matching products from the
                    database. The automatic recognition results could be moderated by administrators</p>
                </div>
                <div class="btn-wrapper has_fade_anim" data-fade-from="bottom" data-fade-offset="50">
                  <a href="about.html" class="wc-btn wc-btn-primary btn-text-flip bordered"> <span data-text="Learn more">Learn more</span><i class="fa-solid fa-play"></i></a>
                </div>
              </div>
              <div class="accordion-wrapper has_fade_anim" data-fade-from="bottom">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">Sparking innovation</button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">Brand identity design a the key we not to be have to where
                        arolax agency taken of my entire soul, like on these sweet mornings.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">Turning creative ideas into results</button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">Brand identity design a the key we not to be have to where
                        arolax agency taken of my entire soul, like on these sweet mornings.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">Turnkey premium materials</button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">Brand identity design a the key we not to be have to where
                        arolax agency taken of my entire soul, like on these sweet mornings.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">Smart artificial trader</button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">Brand identity design a the key we not to be have to where
                        arolax agency taken of my entire soul, like on these sweet mornings.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">Checking out ai made brand vibe</button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">Brand identity design a the key we not to be have to where
                        arolax agency taken of my entire soul, like on these sweet mornings.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- faq area end  -->

    <!-- blog area start  -->
    <section class="blog-area">
      <div class="container">
        <div class="blog-area-inner section-spacing">
          <div class="section-header">
            <div class="section-title-wrapper">
              <div class="title-wrapper">
                <h2 class="section-title has_text_move_anim">Exploring the information
                  of Artificial Intelligence:
                  Insights, innovations and
                  impact</h2>
              </div>
            </div>
            <div class="btn-wrapper has_fade_anim" data-fade-from="bottom" data-fade-offset="50">
              <a href="blog.html" class="wc-btn wc-btn-underline btn-text-flip"> <span data-text="Read all news">Read all news</span></a>
            </div>
          </div>
          <div class="blogs-wrapper-box">
            <div class="blogs-wrapper">
              <article class="blog has_fade_anim" data-fade-from="bottom">
                <div class="thumb">
                  <a href="blog-details.html">
                    <img src="{% static 'imgs/blog/img-s-15.webp' %}" alt="blog image">
                  </a>
                </div>
                <div class="content-wrapper">
                  <div class="content">
                    <div class="meta">
                      <span class="tag">Branding</span>
                      <span class="date has-left-line">14 Jan 2024</span>
                    </div>
                    <h2 class="title text-underline"><a href="blog-details.html">How to bring fold to your startup
                        agency with Arolax</a></h2>
                  </div>
                  <div class="btn-wrapper">
                    <a href="blog-details.html" class="cf_btn wc-btn-normal">Read More<i class="fa-solid fa-arrow-right-long"></i></a>
                  </div>
                </div>
              </article>
              <article class="blog has_fade_anim" data-fade-from="bottom" data-delay="0.30">
                <div class="thumb">
                  <a href="blog-details.html">
                    <img src="{% static 'imgs/blog/img-s-16.webp' %}" alt="blog image">
                  </a>
                </div>
                <div class="content-wrapper">
                  <div class="content">
                    <div class="meta">
                      <span class="tag">Branding</span>
                      <span class="date has-left-line">14 Jan 2024</span>
                    </div>
                    <h2 class="title text-underline"><a href="blog-details.html">How to manage a talented and
                        successful design team</a></h2>
                  </div>
                  <div class="btn-wrapper">
                    <a href="blog-details.html" class="cf_btn wc-btn-normal">Read More<i class="fa-solid fa-arrow-right-long"></i></a>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- blog area end  -->

  </main>
    
{% endblock body %}
    


{% block js %}
    
{% endblock js %}
    
